<div class=WordSection1 style='layout-grid:15.6pt'>
    <!--
<h2 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
28.9pt;text-indent:-28.9pt;line-height:150%'><span lang=EN-US style='font-size:
15.0pt;line-height:150%'>1.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:15.0pt;line-height:150%;font-family:宋体'>数据字典服务</span></h2>
-->

    <h3 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
36.0pt;line-height:normal'><a name=""><span lang=EN-US
                                            style='font-size:14.0pt'>1.1.1<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:14.0pt;font-family:宋体'>{{serv}}</span></a></h3>

    <p class=MsoNormal style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-size:14.0pt;font-family:Wingdings'>u<span
            style='font:7.0pt "Times New Roman"'> </span></span><b><span style='font-size:
14.0pt;font-family:宋体'>服务地址：</span></b><span lang=EN-US style='font-size:14.0pt'>{{url}}</span></p>

    <p class=MsoNormal style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-size:14.0pt;font-family:Wingdings'>u<span
            style='font:7.0pt "Times New Roman"'> </span></span><b><span style='font-size:
14.0pt;font-family:宋体'>接口类型：</span></b><b><span lang=EN-US style='font-size:
14.0pt'>{{type}}</span></b></p>

    <!-- 请求头 -->
    <p class=MsoNormal style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-size:14.0pt;font-family:Wingdings'>u<span
            style='font:7.0pt "Times New Roman"'> </span></span><b><span style='font-size:
14.0pt;font-family:宋体'>请求头：</span></b></p>

    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=568
           style='width:426.2pt;margin-left:5.65pt;border-collapse:collapse;border:none'>
        <tr>
            <td width=67 style='width:50.35pt;border:solid windowtext 1.0pt;background:
  #DBEEF3;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK'>序号</span></b></p>
            </td>
            <td width=167 style='width:125.1pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DBEEF3;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>参数名</span></b></p>
            </td>
            <td width=111 style='width:83.6pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DBEEF3;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>参数说明</span></b></p>
            </td>
            <td width=67 style='width:50.35pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DBEEF3;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>必填</span></b></p>
            </td>
            <td width=156 style='width:116.7pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DBEEF3;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>备注</span></b></p>
            </td>
        </tr>
        <tr style='height:4.5pt'>
            <td width=67 valign=top style='width:50.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>1</span>
                </p>
            </td>
            <td width=167 valign=top style='width:125.1pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>Authorization</span>
                </p>
            </td>
            <td width=111 valign=top style='width:83.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>token</span>
                </p>
            </td>
            <td width=67 valign=top style='width:50.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>否</span></p>
            </td>
            <td width=156 valign=top style='width:116.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>与<span lang=EN-US>AuthUserName</span>二选一填写</span></p>
            </td>
        </tr>
        <tr style='height:4.5pt'>
            <td width=67 valign=top style='width:50.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>2</span>
                </p>
            </td>
            <td width=167 valign=top style='width:125.1pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>Application</span>
                </p>
            </td>
            <td width=111 valign=top style='width:83.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>应用<span lang=EN-US>id</span></span></p>
            </td>
            <td width=67 valign=top style='width:50.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>否</span></p>
            </td>
            <td width=156 valign=top style='width:116.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>与<span lang=EN-US>ApplicationCode</span>二选一填写</span></p>
            </td>
        </tr>
        <tr style='height:4.5pt'>
            <td width=67 valign=top style='width:50.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>3</span>
                </p>
            </td>
            <td width=167 valign=top style='width:125.1pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>AuthUserName</span>
                </p>
            </td>
            <td width=111 valign=top style='width:83.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>登陆名</span></p>
            </td>
            <td width=67 valign=top style='width:50.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>否</span></p>
            </td>
            <td width=156 valign=top style='width:116.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>与<span lang=EN-US>Authorization</span>二选一填写</span></p>
            </td>
        </tr>
        <tr style='height:4.5pt'>
            <td width=67 valign=top style='width:50.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>4</span>
                </p>
            </td>
            <td width=167 valign=top style='width:125.1pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>AuthPassWord</span>
                </p>
            </td>
            <td width=111 valign=top style='width:83.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>密码</span></p>
            </td>
            <td width=67 valign=top style='width:50.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>否</span></p>
            </td>
            <td width=156 valign=top style='width:116.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>与<span lang=EN-US>Authorization</span>二选一填写</span></p>
            </td>
        </tr>
        <tr style='height:4.5pt'>
            <td width=67 valign=top style='width:50.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>6</span>
                </p>
            </td>
            <td width=167 valign=top style='width:125.1pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>ApplicationCode</span>
                </p>
            </td>
            <td width=111 valign=top style='width:83.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>应用<span lang=EN-US>code</span></span></p>
            </td>
            <td width=67 valign=top style='width:50.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>否</span></p>
            </td>
            <td width=156 valign=top style='width:116.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>与<span lang=EN-US>Application</span>二选一填写</span></p>
            </td>
        </tr>
    </table>

    <!-- 输入参数 -->
    <p class=MsoNormal style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-size:14.0pt;font-family:Wingdings'>u<span
            style='font:7.0pt "Times New Roman"'> </span></span><b><span style='font-size:
14.0pt;font-family:宋体'>输入参数：</span></b></p>

    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=568
           style='width:426.2pt;margin-left:5.65pt;border-collapse:collapse;border:none'>
        <tr>
            <td width=46 style='width:34.45pt;border:solid windowtext 1.0pt;background:
  #DEEBF6;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK'>序号</span></b></p>
            </td>
            <td width=127 style='width:94.95pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DEEBF6;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>参数名</span></b></p>
            </td>
            <td width=149 style='width:111.7pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DEEBF6;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>参数说明</span></b></p>
            </td>
            <td width=53 style='width:40.0pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DEEBF6;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>查询方式</span></b></p>
            </td>
            <td width=52 style='width:38.75pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DEEBF6;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>必填</span></b></p>
            </td>
            <td width=142 style='width:106.35pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DEEBF6;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>备注</span></b></p>
            </td>
        </tr>
        {% for req in reqs %}
        <tr style='height:4.5pt'>

            <td width=46 style='width:34.45pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>{{req.index}}</span>
                </p>
            </td>
            <td width=127 style='width:94.95pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>{{req.colKey}}</span>
                </p>
            </td>
            <td width=149 style='width:111.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'><span lang=EN-US>{{req.value}}</span></span></p>
            </td>
            <td width=53 style='width:40.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>精确</span></p>
            </td>
            <td width=52 style='width:38.75pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>
                    {% if req.isNull == 'Y' %}
                    否
                    {% else %}
                    是
                    {% endif %}</span></p>
            </td>
            <td width=142 style='width:106.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:4.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>{{req.remark}}</span>
                </p>
            </td>

        </tr>
        {% endfor %}
    </table>

    <!-- 输出参数 -->
    <p class=MsoNormal style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-size:14.0pt;font-family:Wingdings'>u<span
            style='font:7.0pt "Times New Roman"'> </span></span><b><span style='font-size:
14.0pt;font-family:宋体'>返回参数：</span></b></p>

    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=568
           style='width:426.2pt;margin-left:5.65pt;border-collapse:collapse;border:none'>
        <tr style='height:10.05pt'>
            <td width=45 style='width:33.65pt;border:solid windowtext 1.0pt;background:
  #DEEBF6;padding:0cm 5.4pt 0cm 5.4pt;height:10.05pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK'>序号</span></b></p>
            </td>
            <td width=68 style='width:51.3pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DEEBF6;padding:0cm 5.4pt 0cm 5.4pt;height:10.05pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>数据项</span></b></p>
            </td>
            <td width=94 style='width:70.25pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DEEBF6;padding:0cm 5.4pt 0cm 5.4pt;height:10.05pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>数据项说明</span></b></p>
            </td>
            <td width=54 valign=top style='width:40.8pt;border:solid windowtext 1.0pt;
  border-left:none;background:#DEEBF6;padding:0cm 5.4pt 0cm 5.4pt;height:10.05pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>必填</span></b></p>
            </td>
            <td width=244 style='width:182.65pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DEEBF6;padding:0cm 5.4pt 0cm 5.4pt;height:10.05pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>备注</span></b></p>
            </td>
        </tr>
        <tr style='height:22.9pt'>
            <td width=45 style='width:33.65pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt;height:22.9pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>1</span>
                </p>
            </td>
            <td width=68 style='width:51.3pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:22.9pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>code</span>
                </p>
            </td>
            <td width=94 style='width:70.25pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:22.9pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>唯一标识码</span></p>
            </td>
            <td width=54 valign=top style='width:40.8pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:22.9pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>是</span></p>
            </td>
            <td width=244 style='width:182.65pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:22.9pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>0</span><span
                        style='font-family:方正仿宋_GBK'>成功，非<span
                        lang=EN-US>0</span>失败</span></p>
            </td>
        </tr>
        <tr style='height:22.55pt'>
            <td width=45 style='width:33.65pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt;height:22.55pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>2</span>
                </p>
            </td>
            <td width=68 style='width:51.3pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:22.55pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>msg</span>
                </p>
            </td>
            <td width=94 style='width:70.25pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:22.55pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>信息</span></p>
            </td>
            <td width=54 valign=top style='width:40.8pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:22.55pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>是</span></p>
            </td>
            <td width=244 style='width:182.65pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:22.55pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>&nbsp;</span>
                </p>
            </td>
        </tr>
        <tr style='height:2.5pt'>
            <td width=45 style='width:33.65pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt;height:2.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>3</span>
                </p>
            </td>
            <td width=68 style='width:51.3pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:2.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>data</span>
                </p>
            </td>
            <td width=94 style='width:70.25pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:2.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>自定义数据类型</span></p>
            </td>
            <td width=54 valign=top style='width:40.8pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:2.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>否</span></p>
            </td>
            <td width=244 style='width:182.65pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:2.5pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>返回列表或字典</span></p>
            </td>
        </tr>
    </table>

    <!-- 自定义数据类型 -->
    <!--
    <p class=MsoNormal style='text-align:left'><b><span
            style='font-size:14.0pt;font-family:宋体'>自定义数据类型</span></b></p>

    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=580
           style='width:435.25pt;margin-left:5.65pt;border-collapse:collapse;border:none'>
        <tr style='height:13.85pt'>
            <td width=46 style='width:34.45pt;border:solid windowtext 1.0pt;background:
  #DEEBF6;padding:0cm 5.4pt 0cm 5.4pt;height:13.85pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK'>序号</span></b></p>
            </td>
            <td width=126 style='width:94.25pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DEEBF6;padding:0cm 5.4pt 0cm 5.4pt;height:13.85pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>数据项</span></b></p>
            </td>
            <td width=142 style='width:106.5pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DEEBF6;padding:0cm 5.4pt 0cm 5.4pt;height:13.85pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>数据项说明</span></b></p>
            </td>
            <td width=267 style='width:200.05pt;border:solid windowtext 1.0pt;border-left:
  none;background:#DEEBF6;padding:0cm 5.4pt 0cm 5.4pt;height:13.85pt'>
                <p class=MsoNormal align=center style='text-align:center'><b><span
                        style='font-family:方正仿宋_GBK;color:black'>备注</span></b></p>
            </td>
        </tr>
        {% for rep in reps %}
        <tr>
            <td width=46 style='width:34.45pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>{{rep.index}}</span>
                </p>
            </td>
            <td width=126 style='width:94.25pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>{{rep.colKey}}</span>
                </p>
            </td>
            <td width=142 style='width:106.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-family:方正仿宋_GBK'>{{rep.value}}</span></p>
            </td>
            <td width=267 style='width:200.05pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
                                                                                style='font-family:方正仿宋_GBK'>{{rep.remark}}</span>
                </p>
            </td>
        </tr>
        {% endfor %}

    </table>
    -->
</div>

<br/>
<hr/>
<br/>